h1{
    background-color: #20EFEF;
    color: white;

}
.logo{
    width: 100px;
    height: 100px;
}
.copy{
    width: 75px;
    height: 75px;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
}